<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root {
    --primary-color: #fff;
    --sec-color: rgb(228, 5, 5);
    --bgcolor: rgb(240, 240, 240);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web",sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

ul {
    list-style: none;
    display: flex;
}

nav {
    display: none;
    height: 20%;
}

.mobile-nav {
    display: flex;
    color: white;
    position: fixed;
    left:0;
    top:0;
    height:1.5em;
    width:100%;
    margin:.5em;
    padding: .4em;
    span {
        display: none;
    }
    .logo {
        padding-left:.5em;
    }
}

.hero {
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    min-height: 22em;
    width: 100%;
    background-color: rgba(70, 64, 64, 0.671);
    background-image: url(https://fantasy.formula1.com/images/web/homepage/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    h4 {
        bottom: 1px;
    }
    img {
        height: 1.2rem;
        margin: .1rem;
        padding: .1em;
    }
    span {
        display: none;
    }
    
}
.hero-section {
    float: center;
    align-items: center;
    text-align: center;

    p {
        font-size: .9em;
        margin: 2em;

    }
    .play-now {
        text-transform: uppercase;
        font-weight: bold;
        background-color: red;
        color: white;
        padding: 1em 2.5em;
        border-radius: .4em;
    }
    .play-now:hover {
        background-color: rgb(216, 0, 0);
    }

    h3, h4 {
        margin: 1em;
        font-size: smaller;
    }
    h3 {
        a { 
            color: white;
            border-bottom: 2px solid white;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    h4 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
            margin: 5px;
        }
    }   
}

.fantasy, .leagues, .subsbank, .prizes, .last-card {
    padding: 0em .8em;
    text-align: center;
    justify-items: center;
    background-color: var(--bgcolor);

}
.f-left {
    line-height: 1.8em;
    h2 {
        padding: 1.2rem 0rem;
        font-size: 1.8em;
    }
    .details-f {
        display: grid;
        justify-items: center;

        .pat {
            color:white;
            font-size: small;
            font-weight: bold;
            text-transform: uppercase;
            background-color: red;
            width: 28%;
            margin-top: 3em;
            margin-bottom:1em;
            padding: .45em .8em;
            border-radius: .4em;

        }
        .fom{
            width: 90%;
            text-transform: uppercase;
            font-size: .7em;
            margin: 1em;
        }

        .pat:hover {
            background-color: rgb(216, 0, 0);
        }

        .fom:hover {
            background-color: rgba(41,121,255,.12);
        }
    }
}
.f-right {
    justify-items: center;
    padding: 3em 0em 5em 0em;
    .contain-driver-image {
        width: 100;
        height: auto;
        img {
            height: 24em;
        }    
    }
}
.leagues {
    width:auto;
    margin: 0em 1em;
    background-color: white;
}

.leagues {
    img {
        height: 20em;
    }
}

.subsbank {

    img {
        height:16em;
    }
}

.dynamic-pricing {
    background: #15151e;
    background: linear-gradient(25deg,#15151e 0,#5b5b61 80%);
    text-align: center;
    color:white;
    padding: 2em 0em;
    .card {
        height: 22em;
    }
    .bg {
        display: none;
        top:0;
        height:10em;
    }
    a { color: white;   }
}

.prizes {
    background: var(--bgcolor);
}

.p-left {
    margin: 0;
    padding:0;
}

.p-right {
    display: flex;
    justify-content: center;
    img {
        height: 12em;
    }
}

.lc-img {
    box-sizing: border-box;
    max-width: 100%;
}

.last-card {
    padding: 1em 0em;
    background-color: white;

    h2 {
        margin-bottom: 10px;
        justify-content: center;

    }

    h6 {
        margin: 1em;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: 3em;
        text-transform: uppercase;
        justify-content: center;
        justify-items: center;
        align-items: center;
        filter: brightness(60%) grayscale(510%);
        img {
            style {
                fill: gray;
            }
            height: 1.5em;
        }
    }

    .lc-img {
        font-weight: bolder;
        background-image: url(https://fantasy.formula1.com/images/web/leagues-lobby-mobile.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 32em;
        width: auto;
        img {
            display: none;
        }
    }
    .pat1 {
        background-color: var(--sec-color);
        color: white;
        margin: 1.5em;
        border-radius: .4em;
        text-transform: uppercase;
        white-space: nowrap;
        width: 35%;
        font-size: .95em;
        padding: 9px 16px;
    }
    .fom1 {
        width: 90%;
        text-transform: uppercase;
        font-weight: bold;
        justify-content: center;
        margin-bottom: 1.5em;
    }

    .pat1:hover {
        background-color: rgb(216, 0, 0);
    }

=======
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root {
    --primary-color: #fff;
    --sec-color: red;
    --bgcolor: rgb(240, 240, 240);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web",sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

ul {
    list-style: none;
    display: flex;
}

nav {
    display: none;
    height: 20%;
}

.mobile-nav {
    color: white;
    position: fixed;
    left:0;
    top:0;
    height:3rem;
    width:100%;
    margin:.5em;
    padding: .2em;
}

.hero {
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 22em;
    width: 100%;
    background-color: rgba(70, 64, 64, 0.671);
    background-image: url(https://fantasy.formula1.com/images/web/homepage/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    h4 {
        bottom: 1px;
    }
    img {
        align-content: center;
        height: 1.2rem;
        margin: .1rem;
        padding: .1em;
    }
    span {
        display: none;
    }
}
.hero-section {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;

    p {
        font-size: 1rem;
        margin: 1em;

    }
    .play-now {
        background-color: red;
        color: white;
        width: 25%;
        margin: 3em;
        padding: 1em;
        border-radius: .5em;
    }

    h3, h4 {
        margin: 1em;
        font-size: smaller;
    }
    h3 {
        a { 
            color: white;
            border-bottom: 2px solid white;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    h4 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
            margin: 5px;
        }

    }   
}

.fantasy, .leagues, .subsbank, .prizes, .last-card {
    padding: 0em .8em;
    text-align: center;
    justify-items: center;
    background-color: var(--bgcolor);

}
.f-left {
    line-height: 1.8em;
    h2 {
        padding: 1.2rem 0rem;
        font-size: 1.8em;
    }
    .details-f {
        display: grid;
        justify-items: center;

        .pat {
            color:white;
            font-size: small;
            font-weight: bold;
            text-transform: uppercase;
            background-color: red;
            width: 28%;
            margin-top: 3em;
            margin-bottom:1em;
            padding: .45em .8em;
            border-radius: .4em;

        }
        .fom{
            width: 90%;
            text-transform: uppercase;
            font-size: .7em;
            margin: 1em;
        }
    }
}
.f-right {
    justify-items: center;
    padding: 3em 0em 5em 0em;
    img {
        height: 24em;
    }
}
.leagues {
    width:auto;
    margin: 0em 1em;
    background-color: white;
}

.leagues {
    img {
        height: 20em;
    }
}

.subsbank {

    img {
        height:16em;
    }
}

.dynamic-pricing {
    background: #15151e;
    background: linear-gradient(25deg,#15151e 0,#5b5b61 80%);
    text-align: center;
    color:white;
    padding: 2em 0em;
    .card {
        height: 22em;
    }
    .bg {
        display: none;
        top:0;
        height:10em;
    }
    a { color: white;   }
}

.prizes {
    background: var(--bgcolor);
}

.p-left {
    margin: 0;
    padding:0;
}

.p-right {
    display: flex;
    justify-content: center;
    img {
        height: 12em;
    }
}

.lc-img {
    box-sizing: border-box;
    max-width: 100%;
}

.last-card {
    padding: 1em 0em;
    background-color: white;

    h2 {
        margin-bottom: 10px;
        justify-content: center;

    }

    h6 {
        margin: 1em;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: 3em;
        text-transform: uppercase;
        justify-content: center;
        justify-items: center;
        align-items: center;
        filter: brightness(60%) grayscale(510%);
        img {
            style {
                fill: gray;
            }
            height: 1.5em;
        }
    }

    .lc-img {
        font-weight: bolder;
        background-image: url(https://fantasy.formula1.com/images/web/leagues-lobby-mobile.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 32em;
        width: auto;
        img {
            display: none;
        }
    }
    .pat1 {
        background-color: var(--sec-color);
        color: white;
        margin: 1.5em;
        border-radius: .4em;
        text-transform: uppercase;
        white-space: nowrap;
        width: 35%;
        font-size: .95em;
        padding: 9px 16px;
    }
    .fom1 {
        width: 90%;
        text-transform: uppercase;
        font-weight: bold;
        justify-content: center;
        margin-bottom: 1.5em;
    }
>>>>>>> 699f7c0731dba40534312a0e3ba4e6a15e5af9d6
}